* {
    font-family: 'Mukta';
    box-sizing: border-box;

}

html {
    height: 100%;
}

body {
    height: 100%;
}

div#root {
    height: 100%;
    /* remove this line to see div.app is no more 100% height */

}



.border-red {
    border: 2px solid red;
}

.home-title {
    font-size: 55px;
    margin-bottom: 35px;
}

h1 {
    font-size: 35px;
    font-family: 'Arvo', serif;
    font-weight: 700;
    padding-top: 40px;
}



.div-home {
    background-image: url("../../public/backgroundHome.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 0 0;
    min-height: 100vh;
    /* minimum height of page would be equal to available view-port height */
    margin-top: 0px;
}

.income-title {
    margin-bottom: 50px;
}

.income-btns {
    margin-bottom: 36px;
}

.form-control {
    font-size: 20px;

}

.div-dash {
    background-image: url("../../public/backgroundDash4.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 0 0;
    min-height: 100vh;
    margin-top: 0px;
    padding-bottom: 50px;
    padding: 50px 35px;
}

.btn-home {
    width: 135px;
    font-size: 25px;
    font-weight: 500;
    transition: all 0.5s;
    margin-left: 15px;
}


.select-form {
    font-size: 20px;
    margin-right: 60px;
}

.form-login {
    text-align: left;

}

.btn-form-create {
    font-size: 20px;
}

.div-form-input-label {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.container-select {
    display: flex;
    margin-bottom: 15px;
}

.form-label {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.select-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.btn-login {
    width: 112px;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s;
}

.form-text {
    font-size: 20px;
}

.form-control:focus {
    border-color: grey;
    box-shadow: 0 0 0 0.25rem rgba(98, 100, 104, 0.25);
}

.hover-input {
    background-color: red;
}

.none {
    display: none;
}

.show {
    display: block;
}

.errorText {
    color: red;
    font-weight: 500;
    margin-bottom: 20px;

}


.form-create {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.email-help {
    margin-bottom: 35px;
}

@media (min-width: 768px) {

    .home-title {
        font-size: 75px;
    }

}